@using static BlogAlternative.MVC.Controllers.CategoryApController;
@model List<CategoryClass>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

